site_name: Yomitoku Client
theme:
  name: material
  features:
    - navigation.tabss
  icon:
    custom_dir: overrides # on
    repo: fontawesome/brands/github

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to system preference
nav:
  - Home: 'index.md'
  - Setting-Authentication: 'iam-doc.md'
  - How To Deploy: 'deploy-yomitoku-pro.md'

plugins:
  - search:
  - codeinclude:
  - include-markdown: